<footer>
    <p>Copyright © 2010-2016 Tomáš Dvořák Veškeré články, informace a materiály publikované na serveru www.odcizena-vozidla.cz nesmějí být dále šířeny, kopírovány nebo v jakékoli podobě publikovány bez svolení autora. V případě dotazů nebo žádostí využijte prosím kontaktní formulář. Web odcizena-vozidla.cz je soukromý projekt a není provozován ani dotován policií ČR nebo jiným státním orgánem. Data mají pouze informativní charakter. Za správnost a přesnost dat neručíme žádným způsobem, jsou často přebírána z jiných zdrojů, kde nemůžeme zajistit kvalitu a aktuálnost.</p>
</footer>
