<header>
  <h1><a href="/">Databáze odcizených vozidel</a></h1>
  <div class="navigation">
    <ul class="navbar-list">
        <li class="navbar-item"><a href="/add">Přidat nové vozidlo</a></li>
        <li class="navbar-item"><a href="/">Seznam odcizených vozidel</a></li>
        <li class="navbar-item"><a href="/tools">Nástroje</a></li>
        <li class="navbar-item"><a href="/help">Nápověda</a></li>
        <li class="navbar-item"><a href="/contact">Kontakt</a></li>
    </ul>
  </div>
  {% include "includes/userbar.html" %}
</header>
